{% extends 'website/base.html' %}
{% block slideshow %}
{% endblock slideshow %}
{% block cards %}
      <div class="lecture-container">
        <span class="title-text">Download: {{ files.first.course.course_name }} Lectures</span>
          <div class="profile-files">
            <div class="row">
            {% if files.count != 0 %}
              {% for lecture in files %}
                  {% if  lecture.lecture_name != None %}
                    <div class="col-9 col-md-10" style="word-break: break-word;">{{ lecture.lecture_name}}</div>
                  {% else %}
                    <div class="col-9 col-md-10" style="word-break: break-word;">{{ lecture.lecture_url.name}}</div>
                  {% endif %}
                  {% if request.user.is_superuser %}
                      <div class="col-2 col-md-2">
                          <a href="{% url 'delete' lecture.id %}"><i class="fa fa-trash" style="font-size: 20px; color: #d40000;"></i>
                          </a></div>
                  {% else %}
                        <div class="col-2 col-md-2">
                            <a href="{{ lecture.lecture_url.url }}" download="{{ lecture.lecture_name}}" ><i class="fa fa-download" style="font-size: 20px;color: #0688c3;"></i>
                            </a></div>
                  {% endif %}
                <hr>
              {% endfor %}
            {% else %}
                <div class="noFile">
                    <h5>No File Yet ~_~</h5>
                </div>
            {% endif %}
            </div>
      </div>
    </div>
{% endblock cards %}