{% extends 'collage_system/base.html' %}
{% block slideshow %}
{% endblock slideshow %}
{% load static %}
{% block cards %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-2">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="profile-container" >
                <span class="title-text">Edit Profile</span><span class="float-right"><h2>{{ request.user.username }}</h2></span>
                <div class="row">
                    <div class="col-8 col-sm-8 col-md-5 col-lg-4 pl-lg-5">
                        <div class="profile-image">
                          <img src="{% static 'collage_system/images/Student.png' %}" alt="teacher_pic">
                        </div>
                    </div>
                    <div class="col-12 mt-4 mt-md-0 col-sm-12 col-md-6  col-lg-8">
                      <div id="editProfile" class="username-container">
                          <form method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                              <div class="form-row">
                                  <input type="text" name="username" placeholder="Change Username" class="form-control" value="{{ request.user.username }}" required >
                              </div>
                              <div class="form-row">
                                  <select name="teacher" multiple class="selectpicker mt-3" title="Choose your courses" required >
                                    {% for teacher in teachers %}
                                        {% if teacher in request.user.student.teacher.all %}
                                            <option selected value="{{ teacher.id }}">{{ teacher.teacher_name }}</option>
                                        {% else %}
                                            <option value="{{ teacher.id }}">{{ teacher.teacher_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                  </select>
                              </div>
                              <button type="submit" class="edit-button float-right w-25" name='edit_profile'>Apply</button>
                                <a class="cancel-button float-right w-25 " href="{% url 'profile' %}">Cancel</a>

                              <div id="changePass-btn" class="text-center edit-button">Change Password</div>

                          </form>
                        </div>
                          <div id="changePassword" class=" username-container">
                            <form method="post" enctype="multipart/form-data" >
                              {% csrf_token %}
                                    <div class="form-row">
                                      <input type="password" name="old_password" class="form-control col-8" placeholder="Old Password" required >
                                    </div>
                                    <div class="form-row">
                                      <input type="password" name="new_password1" class="form-control col-8 mt-2 mb-4" placeholder="New Password" required >
                                      <input type="password" name="new_password2" class="form-control col-8 mt-2 mb-4" placeholder="Confirm New Password" required >
                                  </div>

                                <button type="submit" class="edit-button float-right w-25 mt-5" name="change_password">Apply</button>
                                <a class="cancel-button float-right w-25 mt-5" href="{%  url 'profile' %}">Cancel</a>
                                <div id="editeProfile-btn" class=" text-center edit-button float-left w-25 mt-5">Edit Profile</div>

                            </form>
                        </div>
                      </div>
                </div>
              </div>

            </div>

        </div>
    </div>
{% endblock cards %}
{% block jsfiles %}
       <script>
       $(document).ready(function() {

        $("#changePass-btn").click(function(){
          $("#editProfile").slideUp("fast")
          $("#changePassword").slideDown("fast")
        })
        $("#editeProfile-btn").click(function(){
          $("#changePassword").slideUp("fast")
          $("#editProfile").slideDown("fast")

        })
      })

    </script>
{% endblock jsfiles %}