{% extends 'collage_system/base.html' %}
{% load static %}
{% block slideshow %}
{% endblock slideshow %}
{% block cards %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-2">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="profile-container">
            <span class="title-text">Profile</span>
            <div class="row">
              <div class="col-8 col-sm-8 col-md-5 col-lg-4 pl-lg-5">
                <div class="profile-image">
                  <img src="{% static 'collage_system/images/Student.png' %}" alt="">
                </div>
              </div>
              <div class="col-12 mt-4 mt-md-0 col-sm-12 col-md-6  col-lg-8 username-container">
                <h2>{{ request.user.username }}</h2>
                <p><b>username: </b> {{ request.user.username }}</p>
                <!-- <p><b>Teacher: </b>
                    {% for teacher in teachers %}
                        <span class="courses-selected">{{ teacher.teacher_name }}</span>
                    {% endfor %}
                </p> -->
                  <a href="{% url 'edit_profile' %}" ><button class="edit-button float-right">Edit</button></a>
              </div>
              <hr style="width: 100%;">
            </div>

            <span class="title-text">My Files</span>
            <div class="profile-files">
              <div class="row">
              {% for lecture in lectures %}
                    <div class="col-9 col-md-10">{{ lecture.lecture_name }} </div>
                    <div class="col-2 col-md-2"><a href="{% url 'delete' lecture.id %}"><i class="fa fa-trash" style="font-size: 20px; color: #d40000;"></i></a></div>
                    <hr>
              {% endfor %}
              </div>
            </div>
          </div>
          </div>
{% endblock cards %}