{% extends 'collage_system/base.html' %}
{% load static %}
{% block slideshow %}
{% endblock slideshow %}
{% block cards %}
    <span class="title-text" data-scroll>{{head}}</span>
          <div class="row">
            {% for  suggestion in suggestions %}
            <div class="col-12 col-sm-12 col-md-6 col-xl-4 mt-3">
                <div class="suggestion-container" dir="rtl">
                    <h6>{{ suggestion.proposal }}</h6>
                    <div class="text">
                        <p>{{ suggestion.sugg_dics }}</p>
                        <span>أقرأ المزيد</span>
                    </div>
                    <div class="date-and-deleteBtn">
                        <a href="{% url 'delete_suggandcomp' suggestion.pk  %}" class="btn btn-danger">Delete</a>
                        <small>{{ suggestion.get_time_ago }}</small>
                    </div>
                </div>
           </div>
           {% endfor %}
          </div>
{% endblock cards %}
{% block jsfiles %}
    <script>
    let suggestText = document.querySelectorAll(".text p");
    let readMoreBtns= document.querySelectorAll(".text span");
    let previosRead;
    let newIndex
    for(let i = 0 ; i < suggestText.length; i++) {
        if (suggestText[i].innerHTML.length < 55) {
            readMoreBtns[i].innerHTML = ""
        }
    }
    for(let i = 0 ; i < readMoreBtns.length; i++) {
        readMoreBtns[i].index = i
        readMoreBtns[i].addEventListener("click", function () {
            if (previosRead !== undefined) {
                readMoreBtns[previosRead].innerHTML= "أقرأ المزيد"
                suggestText[previosRead].style.whiteSpace = "nowrap"
            }
            if (this.innerHTML === "أقرأ المزيد") {
                this.innerHTML = "";
                newIndex = this.index
                suggestText[newIndex].style.whiteSpace = "pre-wrap"
                previosRead = newIndex
            }
            else  {
                this.innerHTML = "أقرأ المزيد";
                newIndex = this.index
                suggestText[newIndex].style.whiteSpace = "nowrap"
            }

        })
    }
</script>
{% endblock jsfiles %}